.header_outer_container{
position: sticky;
top: 0;
background-color: black; 
transition: all 0.5s; 
 background-color: transparent;
color: white;
height: 10vh;
transition-timing-function: ease-in;
z-index: 1;

}

.header_container{
width: 90%;
display: flex;
justify-content: space-between;
align-items: center;
}


.header_left{
    display: inline-block;
    align-items: center;
  
 
}

.header_left
li{
  list-style: none;
  display: inline-block;
  margin: 20px;
  width: auto;
  cursor: pointer;

color:white
}
.header_left{
   display: inline-block; 
     
}
.header_right ul{
    display: flex;
  justify-content: space-around;
  align-items: center;

    gap: 20px;
    list-style: none;
    cursor: pointer;
    margin-top: 20px;
}
